/******************************************************************

Stylesheet: 全体

******************************************************************/
@font-face {
  font-family: 'noto-sans-cjk-jp';
  src: url(NotoSansCJKJP/Black.woff) format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'noto-sans-cjk-jp';
  src: url(NotoSansCJKJP/Bold.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'noto-sans-cjk-jp';
  src: url(NotoSansCJKJP/Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'noto-sans-cjk-jp';
  src: url(NotoSansCJKJP/Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'noto-sans-cjk-jp';
  src: url(NotoSansCJKJP/Light.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'noto-sans-cjk-jp';
  src: url(NotoSansCJKJP/Thin.woff) format('woff');
  font-weight: 100;
}

body {
  font-family: noto-sans-cjk-jp, sans-serif;
}
html {
  font-family: noto-sans-cjk-jp, sans-serif;
}

.flex {
  display: flex;
}

/******************************************************************

Stylesheet: ヘッダー

******************************************************************/
.header {
  height: 100px;
  width: 100%;
  padding: 25px 150px 0;
  background-color: #ffffff;
}
.header__log {
  width: 130px;
  height: 47px;
}

.mobile-menu__btn {
  display: none;
}
.mobile-menu {
  display: none;
}

/******************************************************************

Stylesheet: バナー

******************************************************************/
.banner__PC > img {
  height: 100%;
  width: 100%;
}

.banner__SP {
  display: none;
}

.stepIcon__SP, .triangle__SP {
  display: none;
}
/******************************************************************

Stylesheet: Step

******************************************************************/
.step {
  height: 876px;
  width: 100%;
}

.step__01__logo, .step__02__logo, .step__03__logo {
  width: 70px;
  height: 70px;
}

.step__01 {
  width: 33.5%;
  background-color: #f7ffff;
  padding-top: 155px;
  text-align: center;
}
.step__01__main {
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
}
.step__01__title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.step__01__SP__text {
  display: none;
}
.step__01__text {
  font-size: 16px;
  font-weight: bold;
}
.step__01__app {
  justify-content: center;
  margin-top: 55px;
}
.step__01__android__btn {
  border: none;
  background-color: #f7ffff;
}
.step__01__android__btn > img {
  width: 177px;
  height: 53px;
}
.step__01__iphone__btn {
  border: none;
  background-color: #f7ffff;
}
.step__01__iphone__btn > img {
  width: 141px;
  height: 53px;
}

.step__02 {
  width: 33%;
  background-color: #e4f8f2;
  padding-top: 155px;
  text-align: center;
}
.step__02__main {
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
}
.step__02__title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.step__02__text {
  font-size: 16px;
  font-weight: bold;
}
.step__02__img {
  margin-top: 160px;
}
.step__02__img > img {
  width: 340px;
  height: 333px;
  margin-top: -10px;
}

.step__03 {
  width: 33.5%;
  background-color: #ccf5df;
  padding-top: 155px;
}
.step__03__main {
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;
}
.step__03__title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.step__03__img {
  position: relative;
}
.swiper-container {
  width: 280px;
  height: 547px;
  text-align: center;
}
.swiper__title {
  font-size: 12px;
}
.swiper__bar {
  text-align: center;
  width: 255px;
  height: 12px;
}
.swiper__img {
  width: 280px;
  height: 498px;
}
.swiper-pagination {
  width: 100%;
  /* transform: translateY(-50px); */
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}

/******************************************************************

Stylesheet: キャンペーン概要

******************************************************************/
.campaign {
  width: 100%;
  padding-bottom: 80px;
}

.campaign__period {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}
.period__title {
  display: block;
  position: relative;
  margin: 0 auto;
}
.PC__ribbonS {
  width: 230px;
  height: 40px;
  margin-top: 80px;
}
.campaign__title {
  font-size: 18px;
  font-weight: normal;
  transform: translateY(-33px);
  color: #fff;
}
.PC__ribbonL {
  width: 340px;
  height: 40px;
  margin-top: 80px;
}
.PC__ribbonS, .PC__ribbonL {
  display: inline;
}
.SP__ribbonS, .SP__ribbonL {
  display: none;
}
.campaign__day {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 25px 0;
}
.campaign__text {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  border-top: solid 2px #000;
}

.campaign__overview {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.campaign__contents {
  width: 720px;
  text-align: left;
  margin: 0 auto;
  margin-top: 40px;
  padding: 25px;
  padding-bottom: 10px;
  font-size: 11px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}
.campaign__ul {
  list-style-type: none;
  padding-left: 0;
}
.li__text {
  padding-left: 1em;
  text-indent: -1em;
  line-height: 2;
}

/* リボンテープ */
/* .campaign__title {
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 40px;
  font-size: 18px;
  font-weight: normal;
  background-color: #000;
  color: #fff;
  box-sizing: border-box;
  margin-top: 80px;
}
.campaign__title::before,
.campaign__title::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
}
.campaign__title::before {
  top: 0;
  left: 0;
  border-width: 20px 0px 20px 10px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
.campaign__title::after {
  top: 0;
  right: 0;
  border-width: 20px 10px 20px 0px;
  border-color: transparent #fff transparent transparent;
  border-style: solid;
} */

/******************************************************************

Stylesheet: Hugmegとは

******************************************************************/
.detail {
  padding-top: 66px;
  padding-bottom: 65px;
  width: 100%;
  background-color: #f1f3cd;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.detail__img {
  width: 535px;
  height: 527px;
}
.detail__title > span {
  font-size: 23px;
  font-weight: bold;
  vertical-align: bottom;
}
.detail__title > img {
  width: 210px;
  height: 74px;
}
.detail__text {
  width: 400px;
  font-size: 18px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 90px;
}
.detail__btn {
  background-color: #64b22a;
  padding: 20px 25px;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.detail__SP {
  display: none;
}

.triangle {
  position: relative;
}
.triangle::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  border-top: 80px solid #f1f3cd;
  align-items: flex-end;
  z-index: 10;
}

/******************************************************************

Stylesheet: 応募方法

******************************************************************/
.method {
  padding-bottom: 200px;
  width: 100%;
}

.stepIcon {
  margin-top: 160px;
  text-align: center;
}
.stepIcon__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.stepIcon__icon {
  justify-content: center;
  align-items: center;
}
.stepIcon__text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
.rightEdge {
  width: 12px;
  height: 25px;
  margin: 0 15px;
  transform: translateY(-15px);
}
.stepIcon__register__icon, .stepIcon__check__icon, .stepIcon__get__icon {
  width: 106px;
  height: 106px;
}

.download {
  margin-top: 80px;
  text-align: center;
}
.download__title {
  font-size: 22px;
  margin-bottom: 23px;
}
.download__app {
  justify-content: center;
}
.download__app__android__text {
  font-size: 17px;
  font-weight: bold;
}
.download__app__android__btn {
  border: none;
  background-color: #fff;
}
.download__app__android__btn > img {
  width: 214px;
  height: 64px;
}
.download__app__iphone__text {
  font-size: 17px;
  font-weight: bold;
}
.download__app__iphone__btn {
  border: none;
  background-color: #fff;
}
.download__app__iphone__btn > img {
  width: 171px;
  height: 64px;
}

.inquiry {
  margin-top: 104px;
  text-align: center;
}
.inquiry__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.inquiry__text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.inquiry__btn {
  background-color: #61b323;
  padding: 20px 100px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
}

.inquiry__SP {
  display: none;
}

/******************************************************************

Stylesheet: フッター

******************************************************************/
.footer {
  width: 100%;
  background-color: #64b22a;
  padding-top: 120px;
  padding-bottom: 122px;
}

.footer__app {
  justify-content: center;
}
.footer__app__android__btn {
  border: none;
  background-color: #64b22a;
}
.footer__app__android__btn > img {
  width: 177px;
  height: 53px;
}
.footer__app__iphone__btn {
  border: none;
  background-color: #64b22a;
}
.footer__app__iphone__btn > img {
  width: 144px;
  height: 53px;
}
.footer__textGoogle {
  width: 329px;
  font-size: 11px;
  color: #fff;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 1em;
  text-indent: -1em;
}
.footer__textApple {
  width: 329px;
  font-size: 11px;
  color: #fff;
  margin: 0 auto;
  padding-left: 1em;
  text-indent: -1em;
}
.footer__copy {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 120px;
}

.mobile__app {
  display: none;
}
.mobile__textGoogle, .mobile__textApple {
  display: none;
}

/* TOPに戻るボタン */
#page__top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  background: #fff;
  color: #707070;
  padding: 25px 30px 35px;
  /* border: solid 1px; */
  border-radius: 50%;
  /* box-shadow: 0 2px 10px -6px rgba(0, 0, 0, 0.5),
    0 3px 10px -4px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  z-index: 100;
}

@media screen and (max-width: 480px) {
  /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/

  /******************************************************************

    Stylesheet: バナー

    ******************************************************************/

  /******************************************************************

    Stylesheet: Step

    ******************************************************************/

  /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/

  /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/

  /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/

  /******************************************************************

    Stylesheet: フッター

    ******************************************************************/
}

@media screen and (max-width: 960px) {
  /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/
    .header {
      height: 75px;
      width: 100%;
      padding: 15px 40px 0;
      background-color: #ffffff;
      justify-content: space-between;
    }
    .header__log {
      width: 112px;
      height: 40px;
    }

    /* モバイルメニュー */
    .mobile-menu {
      display: block;
      position: fixed;
      overflow: scroll;
      right: 0;
      top: 150px;
      width: 100%;
      z-index: -1;
    }
    .mobile-menu__btn {
      display: block;
      background-color: unset;
      border: none;
      outline: none !important;
      cursor: pointer;
      z-index: 200;
    }
    .mobile-menu__btn > span {
      background-color: #000;
      width: 35px;
      height: 4px;
      display: block;
      margin-bottom: 6px;
      transition: transform 0.7s;
    }
    .mobile-menu__btn > span:last-child {
      margin-bottom: 0;
    }
    .mobile-menu__cover {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 178, 42, 0.95);
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s;
      cursor: pointer;
      z-index: -1;
    }
    .mobile-menu__main {
      padding: 0;
      perspective: 2000px;
      transform-style: preserve-3d;
      visibility: collapse;
      z-index: -1;
    }
    .mobile-menu__item {
      list-style: none;
      display: block;
      transform: translate3d(0, 0, -1000px);
      padding: 0 40px;
      transition: transform 0.3s, opacity 0.2s;
      opacity: 0;
    }
    .mobile-menu__link {
      display: block;
      margin-top: 30px;
      color: #000;
      text-decoration: none;
    }

    .menu-open .mobile-menu {
      z-index: 200;
    }
    .menu-open .mobile-menu__main {
      text-align: center;
      visibility: visible;
    }
    .menu-open .mobile-menu__cover {
      opacity: 1;
      visibility: visible;
      z-index: 200;
    }
    .menu-open .mobile-menu__item {
      transform: none;
      opacity: 1;
      max-width: 280px;
      margin: 0 auto;
      border-bottom: solid 2px #fff;
      padding: 15px 0;
    }
    .menu-open .mobile-menu__link {
      margin-top: 0;
      z-index: 201;
    }
    .menu-open .mobile-menu__btn {
      position: fixed;
      top: 30px;
      right: 30px;
    }
    .menu-open .mobile-menu__btn > span {
      background-color: #fff;
    }
    .menu-open .mobile-menu__btn > span:nth-child(1) {
      transition-delay: 70ms;
      transform: translateY(10px) rotate(135deg);
    }
    .menu-open .mobile-menu__btn > span:nth-child(2) {
      transition-delay: 0s;
      transform:  translateX(-18px) scaleX(0);
    }
    .menu-open .mobile-menu__btn > span:nth-child(3) {
      transition-delay: 140ms;
      transform: translateY(-10px) rotate(-135deg);
    }
    .main-title {
      font-weight: bold;
      font-size: 20px;
      color: #fff;
    }
    #last-title {
      border-bottom: none;
    }

    .mobile__app {
      perspective: 2000px;
      transform-style: preserve-3d;
    }
    .mobile__app__android__btn, .mobile__app__android__btn > img, 
    .mobile__app__iphone__btn, .mobile__app__iphone__btn > img, 
    .mobile__textApple, .mobile__textGoogle {
      display: block;
      transform: translate3d(0, 0, -1000px);
      transition: transform 0.3s, opacity 0.2s;
      opacity: 0;
    }

    .menu-open .mobile__app {
      display: flex;
      justify-content: center;
      margin-top: 80px;
    }
    .menu-open .mobile__app__android__btn {
      border: none;
      background-color: rgba(100, 178, 42, 0.95);
      opacity: 1;
      transform: none;
    }
    .menu-open .mobile__app__android__btn > img {
      width: 177px;
      height: 53px;
      opacity: 1;
      transform: none;
    }
    .menu-open .mobile__app__iphone__btn {
      border: none;
      background-color: rgba(100, 178, 42, 0.95);
      opacity: 1;
      transform: none;
    }
    .menu-open .mobile__app__iphone__btn > img {
      width: 144px;
      height: 53px;
      opacity: 1;
      transform: none;
    }
    .menu-open .mobile__textGoogle {
      display: block;
      width: 329px;
      font-size: 11px;
      color: #fff;
      margin: 0 auto;
      margin-top: 15px;
      padding-left: 1em;
      text-indent: -1em;
      opacity: 1;
    }
    .menu-open .mobile__textApple {
      display: block;
      width: 329px;
      font-size: 11px;
      color: #fff;
      margin: 0 auto;
      padding-left: 1em;
      text-indent: -1em;
      opacity: 1;
    }

  /******************************************************************

    Stylesheet: バナー

    ******************************************************************/
  .banner__PC {
    display: none;
  }
  
  .banner__SP {
    display: block;
    position: relative;
  }
  .banner__SP > img {
    display: block;
    width: 100%;
    height: auto;
  }
  .banner__SP__btn {
    position: absolute;
    background-color: #64b22a;
    padding: 25px 30px;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    top: 68%;
    left: 10%;
  }

  .stepIcon__SP {
    display: block;
    background-color: #d6f2ee;
    text-align: center;
    padding-bottom: 30px;
  }
  .stepIcon__SP__title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .stepIcon__SP__icon {
    justify-content: center;
    align-items: center;
  }
  .stepIcon__SP__text {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
  }
  .stepIcon__SP__register__icon {
      width: 85px;
      height: 85px;
  }
  .stepIcon__SP__check__icon {
    width: 85px;
    height: 85px;    
  }
  .stepIcon__SP__get__icon {
    width: 85px;
    height: 85px;       
  }
  .rightEdge__SP {
    width: 12px;
    height: 25px;
    margin: 0 15px;
    transform: translateY(-15px);
  }

  .triangle__SP {
      display: block;
      position: relative;
  }
  .triangle__SP::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 40px solid #d6f2ee;
    align-items: flex-end;
    z-index: 10;
  }

  /******************************************************************

    Stylesheet: Step

    ******************************************************************/
  .step {
    flex-direction: column;
    width: 100%;
    height: 1634px;
  }

  .step__01 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .step__01__text {
    display: none;
  }
  .step__01__SP__text {
    display: block;
    font-size: 14px;
    font-weight: normal;
  }
  .step__01__app {
    margin-top: 12px;
  }

  .step__02 {
    width: 100%;
    padding-top: 40px;
  }
  .step__02__text {
    font-size: 14px;
    font-weight: normal;
  }
  .step__02__img {
    margin-top: 20px;
  }

  .step__03 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .swiper-pagination {
    width: 100%;
    transform: translateY(0);
  }
  .swiper-button-prev {
    transform: translateX(0);
  }
  .swiper-button-next {
    transform: translateX(0);
  }

  /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/
  .campaign__period {
    width: 90%;
    padding-top: 60px;
  }
  .campaign__day {
    font-size: 16px;
  }
  .campaign__text {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    border-top: solid 2px #000;
  }
  
  .campaign__contents {
    width: 85%;
    font-size: 11px;
    padding: 20px 20px;
    padding-bottom: 10px;
  }

  /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/
  .detail {
    display: none;
  }
  
  .detail__SP {
    display: block;
    width: 100%;
    background-color: #f1f3cd;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .detail__SP__title {
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .detail__SP__title > img {
    width: 130px;
    height: 47px;
  }
  .detail__SP__title > span {
    font-size: 15px;
    font-weight: bold;
    vertical-align: bottom;
  }
  .detail__SP__text {
    font-size: 12px;
    width: 280px;
    text-align: left;
    margin: 0 auto;
  }
  .detail__SP__img {
    width: 330px;
    height: 325px;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  .detail__SP__btn {
    background-color: #64b22a;
    padding: 20px 25px;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .SP__img {
    width: 100%;
  }

  .triangle::after {
    border-top: 10px solid #f1f3cd;
  }

  /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/
    .method {
      padding-bottom: 80px;
    }
    
    .stepIcon {
      margin-top: 60px;
    }
    .stepIcon__title {
      font-size: 20px;
    }
    .stepIcon__register__icon, .stepIcon__check__icon, .stepIcon__get__icon {
      width: 85px;
      height: 85px;
    }
    .stepIcon__text {
      font-size: 15px;
    }
    .rightEdge {
      width: 10px;
      height: 20px;
      margin: 0 10px;
      transform: translateY(-15px);
    }
    
    .download {
      margin-top: 45px;
    }
    .download__title {
      font-size: 18px;
      margin-bottom: 17px;
    }
    .download__app__android__text {
      font-size: 15px;
    }
    .download__app__android__btn > img {
      width: 177px;
      height: 53px;
    }
    .download__app__iphone__text {
      font-size: 15px;
    }
    .download__app__iphone__btn > img {
      width: 144px;
      height: 53px;
    }
    
    .inquiry {
      display: none;
    }
    .inquiry__SP {
      display: block;
      width: 100%;
      text-align: center;
    }
    .inquiry__SP__title {
      font-size: 20px;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 25px;
    }
    .inquiry__SP__btn {
      background-color: #61b323;
      padding: 14px 42px;
      color: #fff;
      border-radius: 5px;
      border: none;
      font-size: 15px;
      font-weight: bold;
    }

  /******************************************************************

    Stylesheet: フッター

    ******************************************************************/
    .footer {
      padding-top: 60px;
    }
}

@media screen and (max-width: 600px) {
  /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/

  /******************************************************************

    Stylesheet: バナー

    ******************************************************************/
    .banner__SP {
      display: block;
    }
    .banner__SP > img {
      width: 100%;
      height: auto;
    }

    .banner__SP__btn {
      position: absolute;
      background-color: #64b22a;
      padding: 16px 19px;
      color: #fff;
      border-radius: 10px;
      border: none;
      font-size: 12px;
      font-weight: bold;
      top: 68%;
      left: 10%;
    }

  /******************************************************************

    Stylesheet: Step

    ******************************************************************/

  /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/
    .campaign__period, .campaign__overview {
      margin: 0 auto;
      text-align: start;
    }
    .campaign__day, .campaign__text {
      text-align: center;
    }
    .PC__ribbonS, .PC__ribbonL {
      display: none;
    }
    .SP__ribbonS, .SP__ribbonL {
      display: inline;
    }
    .SP__ribbonS {
      width: 190px;
      height: 40px;
      transform: translateX(-10%);
    }
    .SP__ribbonL {
      width: 290px;
      height: 40px;
      margin-top: 60px;
    }
    #contents__title {
      margin-left: 5%;
    }

    /* #day__title {
      transform: translateX(-11%);
    } */
  
    /* リボンテープ */
  /* .campaign__title {
    text-align: left;
  }
  .campaign__title::before {
    border-style: none;
  } */

  /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/
    
  /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/

  /******************************************************************

    Stylesheet: フッター

    ******************************************************************/
}

@media screen and (max-width: 1280px) {
  /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/

  /******************************************************************

    Stylesheet: バナー

    ******************************************************************/

  /******************************************************************

    Stylesheet: Step

    ******************************************************************/

  /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/

  /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/

  /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/

  /******************************************************************

    Stylesheet: フッター

    ******************************************************************/
}
