
/******************************************************************

Stylesheet: 全体

******************************************************************/
.flex {
    display: flex;
}

/******************************************************************

Stylesheet: ヘッダー

******************************************************************/
.header {
    height: 100px;
    width: 100%;
    padding: 25px 150px 0 ;
    background-color: #FFFFFF;
}

.mobile-menu__btn {
    display: none;
}

/******************************************************************

Stylesheet: バナー

******************************************************************/
.banner {
    height: 668px;
    width: 100%;
    background-color: chartreuse;
}

/******************************************************************

Stylesheet: Step

******************************************************************/
.step {
    height: 876px;
    width: 100%;
}

.step__01 {
    width: 33.5%;
    background-color: #F7FFFF;
    padding-top: 155px;
    text-align: center;
}
.step__01__main {
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}
.step__01__title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.step__01__text {
    font-size: 16px;
    font-weight: bold;
}
.step__01__app {
    justify-content: center;
    margin-top: 55px;
}
.step__01__android__btn {
    border: none;
    background-color: #F7FFFF;
}
.step__01__iphone__btn {
    border: none;
    background-color: #F7FFFF;
}

.step__02 {
    width: 33%;
    background-color: #E4F8F2;
    padding-top: 155px;
    text-align: center;
}
.step__02__main {
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}
.step__02__title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.step__02__text {
    font-size: 16px;
    font-weight: bold;
}
.step__02__img {
    margin-top: 160px;
}
.step__02__imgText {
    font-size: 12px;
}
.step__02__img > img {
    margin-top: -10px;
}

.step__03 {
    width: 33.5%;
    background-color: #CCF5DF;
    padding-top: 155px;
}
.step__03__main {
    align-items: center;
    justify-content: center;
    margin-bottom: 53px;
}
.step__03__title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

/******************************************************************

Stylesheet: キャンペーン概要

******************************************************************/
.campaign {
    height: 1100px;
    width: 100%;
}

.campaign__period {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}
.campaign__day {
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 25px 0;
}
.campaign__text {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    border-top: solid 2px #000;
}

.campaign__overview {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.campaign__contents {
    width: 720px;
    text-align: left;
    margin: 0 auto;
    margin-top: 40px;
    padding: 25px;
    font-size: 11px;
    border: solid 1px #E6E6E6;
}

/* リボンテープ */
.campaign__title {
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 40px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    margin-top: 80px;
}
.campaign__title::before, .campaign__title::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
}
.campaign__title::before {
    top: 0;
    left: 0;
    border-width: 20px 0px 20px 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
}
.campaign__title::after {
    top: 0;
    right: 0;
    border-width: 20px 10px 20px 0px;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
}

/******************************************************************

Stylesheet: Hugmegとは

******************************************************************/
.detail {
    height: 659px;
    width: 100%;
    background-color: #F1F3CD;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.detail__img {
    width: 535px;
    height: 527px;
}
.detail__title > span {
    font-size: 23px;
    font-weight: bold;
    vertical-align: bottom;
}
.detail__text {
    width: 400px;
    font-size: 18px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 90px;
}
.detail__btn {
    background-color: #64B22A;
    padding: 20px 25px;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.triangle {
    position: relative;
}
.triangle::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 80px solid #F1F3CD;
    align-items: flex-end;
    z-index: 10;
}

/******************************************************************

Stylesheet: 応募方法

******************************************************************/
.method {
    height: 1089px;
    width: 100%;
}

/******************************************************************

Stylesheet: フッター

******************************************************************/
.footer {
    height: 487px;
    width: 100%;
    background-color: #64B22A;
}


@media screen and (max-width: 480px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: バナー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/
    

    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/


}

@media screen and (max-width: 600px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: バナー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/


}

@media screen and (max-width: 960px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: バナー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/
    

}

@media screen and (max-width: 1280px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: バナー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/


}