
/******************************************************************

Stylesheet: ヘッダー

******************************************************************/
.header {
    height: 100px;
    width: 100%;
    background-color: aqua;
}

.mobile-menu__btn {
    display: none;
}

/******************************************************************

Stylesheet: Top View

******************************************************************/
.banner {
    height: 668px;
    width: 100%;
    background-color: chartreuse;
}

/******************************************************************

Stylesheet: Step

******************************************************************/
.step {
    height: 876px;
    width: 100%;
    background-color: deeppink;
}

/******************************************************************

Stylesheet: キャンペーン概要

******************************************************************/
.campaign {
    height: 1127px;
    width: 100%;
}

/******************************************************************

Stylesheet: Hugmegとは

******************************************************************/
.detail {
    height: 739px;
    width: 100%;
    background-color: chartreuse;
}

/******************************************************************

Stylesheet: 応募方法

******************************************************************/


/******************************************************************

Stylesheet: フッター

******************************************************************/


@media screen and (max-width: 480px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Top View

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/


}

@media screen and (max-width: 600px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Top View

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/


}

@media screen and (max-width: 960px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Top View

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/
    

}

@media screen and (max-width: 1280px) {
    /******************************************************************

    Stylesheet: ヘッダー

    ******************************************************************/


    /******************************************************************

    Stylesheet: Top View

    ******************************************************************/


    /******************************************************************

    Stylesheet: Step

    ******************************************************************/


    /******************************************************************

    Stylesheet: キャンペーン概要

    ******************************************************************/


    /******************************************************************

    Stylesheet: Hugmegとは

    ******************************************************************/


    /******************************************************************

    Stylesheet: 応募方法

    ******************************************************************/


    /******************************************************************

    Stylesheet: フッター

    ******************************************************************/


}